.divider {
  max-width: 80vw;
  margin: 4vh 0 4vh 0;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  padding-left: 10vw;
}

.feed-contiainer{
  max-width: 80vw;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.post_photo_thumb {
  width:50vh;
  height: 50vh;
  object-fit:scale-down;
  margin-bottom: 2vh;
}

.img-button {
  visibility: none;
  border: none;
  background: none;
  outline: none;
}
